.navBar {
    border: 2px solid black;
    font-size: 1.3em;
    background-color: silver;
    display: grid;
    grid-template-columns: auto minmax(0px,1fr);
}

.navLink {
    color: black;
    text-decoration:none;
}

.navLinkH5 {
    padding-left: 1em;
}

.navLink:hover {
    color: gray;
}