.actorContainer {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;
    grid-column-gap: 1em;
    grid-template-areas:  
    ". actorPic actorInfo ."
}

.actorPicture {
    grid-area: actorPic;
}

.image {
    height: 350px;
    width: 350px;
}

.actorInfo {
    grid-area: actorInfo;
}

.actorInfo>h2 {
    margin-top: 0px;
}